opencv-python>=4.6.0.66
numpy>=1.23.5
tqdm>=4.63.1
torch>=1.13.0+cu117
natsort>=8.1.0
typing>=3.7.4.3
scipy>=1.9.3
# Added for improved RCAN with CBAM and composite loss
torchvision>=0.14.0
tensorboard>=2.8.0